* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Tektur', sans-serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    gap: 30px;
}

.container .heading {
    text-align: center;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #06a2de;
}

.container .progress-bar {
    display: none;
    width: 600px;
    height: 30px;
    border: 1px solid #d3c2c2ab;
    border-radius: 12px;
}

.container .progress-bar .completed-part {
    background-color: #0cbf13d1;
    width: 0%;
    height: 100%;
    border-radius: 12px;
    transition: width 0.3s ease;
    margin: unset;
}

.container .timer {
    display: none;
    font-size: 20px;
}

.container .questions-wrapper {
    flex-direction: column;
    gap: 30px;
    display: none;
}

.container .questions-wrapper .question {
    text-align: center;
    font-size: 27px;
}

.container .questions-wrapper .answers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.container .questions-wrapper .answers-wrapper .answer-button {
    all:unset;
    cursor: pointer;
    font-size: 25px;
    border: 3px solid #06a2de;
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 3px 6px;
}

.container .questions-wrapper .answers-wrapper .answer-button:hover {
    outline: 4px solid #06a2de;
    border: 3px solid #06a2de;
    box-shadow: 0 0 15px 3px rgb(6, 162, 222, 0.5);
}

.container .questions-wrapper .answers-wrapper .answer-button:focus {
    outline: none;
}

.container .questions-wrapper .answers-wrapper .answer-button.correct {
    border: 7px solid rgba(12, 191, 19, 0.82);
    transition: border-color 0.3s ease;
    box-shadow: 0 0 7px 3px rgba(12, 191, 19, 0.5);
    padding: 0px 3px;
}

.container .questions-wrapper .answers-wrapper .answer-button.incorrect {
    border: 7px solid rgb(244, 10, 10);
    transition: border-color 0.3s ease;
    box-shadow: 0 0 7px 3px rgb(244, 10, 10, 0.5);
    padding: 0px 3px;
}

.container .questions-wrapper .answers-wrapper .answer-input {
    font-size: 20px;
    border: 3px solid #06a2de;
    border-radius: 7px;
}

.container .questions-wrapper .answers-wrapper .answer-input:focus {
    border: 5px solid rgb(6, 162, 222);
    outline: none;
    box-shadow: 0 0 15px 3px rgb(6, 162, 222, 0.5);
}

.container .questions-wrapper .answers-wrapper .answer-input.correct {
    border: 5px solid #0cbf13d1;
    transition: border-color 0.3s ease;
    box-shadow: 0 0 15px 3px rgba(12, 191, 19, 0.5);
}

.container .questions-wrapper .answers-wrapper .answer-input.incorrect {
    border: 5px solid #f40a0a;
    transition: border-color 0.3s ease;
    box-shadow: 0 0 15px 3px rgb(244, 10, 10, 0.5);
}

.correct-hint {
    font-size: 18px;
}

.container .results {
    display: none;
    font-size: 25px;
    text-align: center;
}

.container .best-results {
    display: none;
    font-size: 20px;
    text-align: center;
}

.container .button-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container .button-wrapper .pushing-button {
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
    border: 6px solid #06a2de;
    color: #f78200;
    font-weight: 500;
    background-color: white;
}

.container .button-wrapper .pushing-button:hover {
    outline: 4px solid #06a2de;
    border: 4px solid rgb(6, 162, 222);
    box-shadow: 0 0 15px 5px rgb(6, 162, 222, 0.7);
}

.container .button-wrapper .pushing-button.restart {
    display: none;
}

@media screen and (max-width:750px) {
    .container .heading {
        font-size: 35px;
    }

    .container .progress-bar {
        width: 400px;
        height: 25px;
    }

    .container .timer {
        font-size: 17px;
    }

    .container .questions-wrapper .question {
        font-size: 22px;
        margin: 0 30px;
    }

    .container .questions-wrapper .answers-wrapper {
        gap: 18px;
    }

    .container .questions-wrapper .answers-wrapper .answer-button {
        font-size: 21px;
    }

    .container .questions-wrapper .answers-wrapper .answer-button:hover {
        outline: 2px solid #06a2de;
        border: 3px solid #06a2de;
        box-shadow: 0 0 7px 2px rgb(6, 162, 222, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-button:focus {
        outline: none;
    }

    .container .questions-wrapper .answers-wrapper .answer-button.correct {
        border: 5px solid rgba(12, 191, 19, 0.82);
        transition: border-color 0.3s ease;
        box-shadow: 0 0 7px 3px rgba(12, 191, 19, 0.5);
        outline: none;
    }

    .container .questions-wrapper .answers-wrapper .answer-button.incorrect {
        border: 5px solid rgb(244, 10, 10);
        transition: border-color 0.3s ease;
        box-shadow: 0 0 7px 3px rgb(244, 10, 10, 0.5);
        outline: none;
    }

    .container .questions-wrapper .answers-wrapper .answer-input {
        font-size: 18px;
    }

    .container .questions-wrapper .answers-wrapper .answer-input:focus {
        border: 4px solid rgb(6, 162, 222);
        box-shadow: 0 0 7px 2px rgb(6, 162, 222, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-input.correct {
        border: 4px solid #0cbf13d1;
        box-shadow: 0 0 7px 2px rgba(12, 191, 19, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-input.incorrect {
        border: 4px solid #f40a0a;
        box-shadow: 0 0 7px 2px rgb(244, 10, 10, 0.5);
    }

    .correct-hint {
        font-size: 15px;
    }

    .container .results {
        font-size: 21px;
        margin: 0 20px;
    }

    .container .best-results {
        font-size: 16px;
        margin: 0 20px;
    }

    .container .button-wrapper .pushing-button {
        font-size: 21px;
        padding: 8px;
    }

    .container .button-wrapper .pushing-button:hover {
        outline: 2px solid #06a2de;
        border: 4px solid rgb(6, 162, 222);
        box-shadow: 0 0 7px 3px rgb(6, 162, 222, 0.7);
    }
}

@media screen and (max-width:500px) {
    .container {
        gap: 20px;
    }

    .container .heading {
        font-size: 25px;
    }

    .container .progress-bar {
        width: 250px;
        height: 18px;
    }

    .container .timer {
        font-size: 13px;
    }

    .container .questions-wrapper {
        gap: 20px;
    }

    .container .questions-wrapper .question {
        font-size: 15px;
    }

    .container .questions-wrapper .answers-wrapper {
        gap: 12px;
    }

    .container .questions-wrapper .answers-wrapper .answer-button {
        font-size: 16px;
        border-radius: 10px;
        padding: 1px 3px;
    }

    .container .questions-wrapper .answers-wrapper .answer-button:hover {
        outline: 1px solid #06a2de;
        border: 3px solid #06a2de;
        box-shadow: 0 0 7px 2px rgb(6, 162, 222, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-button:focus {
        outline: none;
    }

    .container .questions-wrapper .answers-wrapper .answer-button.correct {
        border: 4px solid rgba(12, 191, 19, 0.82);
        box-shadow: 0 0 5px 2px rgba(12, 191, 19, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-button.incorrect {
        border: 4px solid rgb(244, 10, 10);
        box-shadow: 0 0 5px 2px rgb(244, 10, 10, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-input {
        font-size: 15px;
    }

    .container .questions-wrapper .answers-wrapper .answer-input:focus {
        border: 3px solid rgb(6, 162, 222);
        box-shadow: 0 0 5px 2px rgb(6, 162, 222, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-input.correct {
        border: 3px solid #0cbf13d1;
        box-shadow: 0 0 5px 2px rgba(12, 191, 19, 0.5);
    }

    .container .questions-wrapper .answers-wrapper .answer-input.incorrect {
        border: 3px solid #f40a0a;
        box-shadow: 0 0 5px 2px rgb(244, 10, 10, 0.5);
    }

    .correct-hint {
        font-size: 13px;
    }

    .container .results {
        font-size: 16px;
    }

    .container .best-results {
        font-size: 11px;
    }

    .container .button-wrapper {
        margin-top: 20px;
    }

    .container .button-wrapper .pushing-button {
        font-size: 15px;
        padding: 6px;
        border: 5px solid #06a2de;
    }

    .container .button-wrapper .pushing-button:hover {
        outline: 2px solid #06a2de;
        border: 4px solid rgb(6, 162, 222);
        box-shadow: 0 0 5px 2px rgb(6, 162, 222, 0.7);
    }
}